@{
  Layout = "_Layout";
}

<div class="splash">
  <h2>This app will help you have a track on your vendors, Pierre!</h2>
</div>
<div class="buttons">
  <a href='/vendor'><button class="btn btn-success">Vendors</button></a>
  <a href='/vendor/new'><button class="btn btn-succes">Add a new Vendor!</button></a>
</div>